@font-face {
    font-family: 'Raleway';
    src: url('./assets/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('./assets/Roboto/Roboto-VariableFont_wdth\,wght.ttf');
}


/* Global ... */
*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Raleway';
}

body {
    max-width: 100%;
    font-family: 'Roboto';
}

section {
    color: #212529;
    background-color: #f1f6f1;
    padding: 60px 0;
    display: block;
}

.position-relative {
    position: relative;
}

.flex {
    display: flex !important;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap-rev {
    flex-wrap: wrap-reverse;
}

.text-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.relative {
    position: relative;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0 12px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }

    .wrap-rev {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }

    .wrap-rev {
        flex-wrap: nowrap;
    }
}

a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}

.green-text {
    color: #71c55d;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}

dialog {
    border: none;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 400px;
}

.img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;

    .main-title {
        margin-top: 10px;
        font-size: 32px;
        font-weight: 700;
        font-family: 'Raleway';
    }
}

.section-label {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0 auto;
    text-align: center;
    background: color-mix(in srgb, #71c55d, transparent 90%);
    color: #71c55d;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    font-family: 'Roboto';
}

/* ... Global */




/* Header Styles ... */
#header {
    color: #212529;
    background-color: #ffffff;
    padding: 15px 0;
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;

    h1 {
        font-family: 'Raleway';
        font-size: 30px;
        padding: 0;
        line-height: 1.2;
        font-weight: 700;
        color: #101f0c;
    }

    .navmenu {
        padding: 0;
    }

    .line-nav {
        list-style: none;
        text-align: center;
        margin: 0;
        align-items: center;

        @media (max-width: 1200px) {
            display: none;
        }

        li {
            padding: 18px 15px;
            font-size: 16px;
            font-family: 'Poppins';

            @media (max-width: 1200px) {
                display: none;
            }
        }

    }
}

/* Nav Modal styles */
#navModal {
    width: calc(100% - 40px);
    max-width: 100%;
    border: none;
    border-radius: 6px;
    padding: 10px 0;
    background: white;
    margin: 60px 20px 20px 20px;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(1px);
    }

    & #closeNavModal {
        fill: white;
        position: fixed;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        cursor: pointer;
        top: 20px;

        img {
            filter: invert(100%) brightness(200%);
            opacity: 0.8;
            transition: all 0.3s ease;

            &:hover {
                opacity: 1;
                scale: 1.5;
            }
        }
    }


    & ul {
        list-style: none;
        padding: 0;
        margin: 0;

        & li {
            padding: 10px 20px;
            font-family: 'Poppins';
            font-size: 17px;
            font-weight: 500;
            align-items: center;
            justify-content: space-between;

            & a {
                text-decoration: none;
                font-size: 18px;
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &:hover {
                    color: #71c55d;
                }
            }
        }
    }
}


/* Header Responsive */
@media (max-width: 1199px) {
    .hamburger {
        color: #212529;
        font-size: 28px;
        line-height: 1.3;
        margin-right: 10px;
        cursor: pointer;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .hamburger {
        display: none;
    }
}

/* ... Header Styles */

/* Hero Section ... */
#hero {
    width: 100%;

    .title {
        margin-top: 3rem;

        h2 {
            font-family: 'Raleway';
            font-size: 48px;
            font-weight: 700;
            margin-bottom: 20px;
        }

        p {
            color: color-mix(in srgb, #212529, transparent 40%);
            font-weight: 400;
            margin-bottom: 30px;
        }
    }

    .hero-image {
        margin-top: 3rem;
        width: 100%;

        @media (min-width: 1190px) {
            width: 60%;
        }

        img {
            width: 100%;
        }
    }

    .btn {
        .get-started {
            font-size: 14px;
            color: #ffffff;
            background-color: #71c55d;
            font-family: 'Raleway';
            letter-spacing: 1px;
            display: inline-block;
            padding: 12px 36px;
            border-radius: 50px;
            transition: 0.5s;
        }

        .watch-video {
            font-size: 14px;
            transition: 0.5s;
            margin-left: 25px;
            font-weight: 600;
            align-items: center;
            color: #71c55d;

            img {
                filter: invert(72%) sepia(13%) saturate(1217%) hue-rotate(63deg) brightness(97%) contrast(85%);
                margin-right: 8px;
            }
        }
    }

    .icon-boxes {
        .container {
            margin-top: 48px;
        }

        .box {
            background-color: #ffffff;
            padding: 60px 30px;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease-in-out;
            border-radius: 8px;
            height: 100%;
            text-align: center;
            margin: 1.5rem 1rem 0 1rem;
            cursor: pointer;
            flex-grow: 1;
            flex-shrink: 1;

            h4 {
                font-family: 'Raleway';
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 15px;
            }

            .icon {
                margin-bottom: 20px;
                padding-top: 10px;
                display: inline-block;
                transition: all 0.3s ease-in-out;
                font-size: 48px;
            }

            &:hover {
                background-color: #71c55d;

                h4 {
                    color: #ffffff;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    #hero .title h2 {
        font-size: 36px;
    }
}


#videoModal {
    border: none;
    border-radius: 15px;
    padding: 0;
    width: 90%;
    max-width: 800px;
    background: #000;
    overflow: visible;


    &::backdrop {
        background-color: rgba(0, 0, 0, 0.8);
    }

    & .modal-content {
        position: relative;
        padding-top: 56.25%;
        /* 16:9 Aspect Ratio */
    }

    & iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    & #closeModal {
        position: absolute;
        top: -60px;
        right: -30px;
        background: none;
        border: none;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
}

@media (max-width: 768px) {}

@media (min-width: 1200px) {}


/* ... Hero Section */

/* About Section ... */
#about {
    background-color: white;


    .text-side {
        flex: 1;
    }

    .contents {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    .who-we-are {
        color: color-mix(in srgb, #212529, transparent 40%);
    }

    h3 {
        font-size: 2rem;
        font-weight: 700;
        margin: 1rem 0;
    }

    .lorem {
        font-style: italic;
        margin-bottom: 1rem;
        font-family: 'Roboto';
        font-size: 1rem;
    }

    .list {
        list-style: none;
        padding: 0;

        li {
            font-family: 'Roboto';
            font-size: 16px;
            position: relative;
            margin-bottom: 15px;
            line-height: 1.6;
            color: #444;

            img {
                margin-right: 5px;
                filter: invert(72%) sepia(59%) saturate(415%) hue-rotate(61deg) brightness(70%) contrast(88%);
            }
        }
    }

    .btn-read-more {
        background-color: #71c55d;
        color: white;
        border: none;
        padding: 12px 30px;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        transition: all 0.3s ease;

        .arrow {
            display: inline-block;
            margin-left: 8px;
            transition: transform 0.3s ease;
        }

        &:hover {
            background-color: #94e780;

            .arrow {
                transform: translateX(5px);
            }
        }
    }

    .image-side {
        flex: 1;
        margin-top: 1.5rem;
        padding: 0 12px;

        .images {
            display: flex;
            flex-direction: column;
            gap: 15px;


            @media (min-width: 768px) {
                flex-direction: row;
            }

            .img-1 {
                flex: 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            .img-2-3 {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 15px;

                img {
                    width: 100%;
                    height: calc(50% - 7.5px);
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

        }
    }
}

/* ... About Section  */

/* Services Section ... */
#services {
    background-color: #ffffff;

    .service-card {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding: 0 1.5rem;
        margin-top: 1.5rem;
        cursor: pointer;

        @media (min-width: 768px) {
            flex: 0 0 auto;
            width: 50%;
        }

        @media (min-width: 992px) {
            flex: 0 0 auto;
            width: 33.33%;
        }

        .service-item {
            background-color: #ffffff;
            box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
            padding: 60px 30px;
            transition: all ease-in-out 0.3s;
            border-radius: 18px;
            border-bottom: 5px solid #ffffff;
            height: 100%;

            .icon-wrapper {
                width: 60px;
                height: 60px;
                background: #f1f6f1;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
                transition: 0.3s;

                i {
                    color: #71c55d;
                    font-size: 28px;
                }
            }

            h3 {
                font-family: 'Raleway';
                font-weight: 700;
                margin: 10px 0 15px 0;
                font-size: 22px;
                transition: ease-in-out 0.3s;
            }

            p {
                font-family: 'Roboto';
                line-height: 24px;
                font-size: 14px;
                margin-bottom: 0;
            }

            &:hover,
            &.active {
                border-bottom-color: #71c55d;
                /* Shows the green line */
                transform: translateY(-5px);

                h3 {
                    color: #71c55d;
                }

                .icon-wrapper {
                    background: #71c55d;

                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}

/* ... Services Section */

/* Features Section .... */
#features {

    .features-content {
        max-width: 100%;
    }

    .image-side {

        max-width: 100%;

        @media (min-width: 1200px) {
            flex: 0 0 auto;
            width: 41.66666667%;
        }

        img {
            width: 100%;
            height: auto;
            vertical-align: middle;
            box-sizing: border-box;
        }
    }

    .content-side {
        flex-shrink: 0;
        width: 100%;
        margin: 2rem 0;

        @media (min-width: 1200px) {
            flex: 0 0 auto;
            width: 50%;
        }

        .feature-box {
            flex-shrink: 0;
            width: 100%;
            padding: 0 0.5rem;
            margin-top: 1rem;

            @media (min-width: 768px) {
                flex: 0 0 auto;
                width: 50%;
            }

            .box-content {
                background-color: #ffffff;
                padding: 10px 20px;
                box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
                transition: 0.3s;
                height: 100%;

                img {
                    margin-right: 1rem;
                    filter: invert(72%) sepia(59%) saturate(415%) hue-rotate(61deg) brightness(70%) contrast(88%);
                }

                h3 {
                    font-family: 'Raleway';
                    font-size: 18px;
                    font-weight: 700;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

/* .... Features Section */

/* Pricing Section ... */
#pricing {
    background-color: #ffffff;

    .pricing-content {
        .pricing-card {
            max-width: 100%;
            width: 100%;
            flex-shrink: 0;
            padding: 0 1.2rem;
            margin-top: 1.5rem;

            @media (min-width: 768px) {
                flex: 0 0 auto;
                width: 50%;
            }

            @media (min-width: 992px) {
                flex: 0 0 auto;
                width: 25%;
            }

            .card-content {
                background-color: #ffffff;
                box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
                padding: 40px 20px;
                text-align: center;
                border-radius: 4px;
                position: relative;
                overflow: hidden;
                transition: 0.3s;
                height: 100%;

                h3 {
                    font-family: 'Raleway';
                    font-weight: 700;
                    font-size: 18px;
                    margin-bottom: 15px;
                }

                .price {
                    font-size: 36px;
                    color: #101f0c;
                    font-weight: 600;
                    font-family: 'Raleway', sans-serif;

                    sup {
                        font-size: 20px;
                        top: -15px;
                        left: -3px;
                    }

                    span {
                        color: color-mix(in srgb, #212529, transparent 50%);
                        font-size: 16px;
                        font-weight: 300;
                    }
                }

                .icon {
                    padding: 40px 0;
                }

                ul {
                    padding: 0;
                    list-style: none;
                    color: #212529;
                    text-align: center;
                    line-height: 26px;
                    font-size: 16px;
                    margin-bottom: 25px;
                    margin-top: 0;

                    li {
                        padding-bottom: 10px;
                    }

                    .cross-out {
                        color: color-mix(in srgb, #212529, transparent 70%);
                        text-decoration: line-through;
                    }
                }

                .btn {
                    display: inline-block;
                    padding: 8px 40px 10px 40px;
                    border-radius: 50px;
                    color: #71c55d;
                    font-size: 16px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                    transition: 0.3s;
                    border: 1px solid #71c55d;

                    &:hover {
                        background-color: #71c55d;
                        color: #ffffff;
                    }
                }

                &:hover {
                    transform: scale(1.1);
                }

                .featured-badge {
                    position: absolute;
                    top: 15px;
                    right: -35px;
                    background: #71c55d;
                    color: #fff;
                    padding: 5px 40px;
                    font-size: 12px;
                    transform: rotate(45deg);
                    font-weight: 600;
                }
            }
        }
    }
}

/* ... Pricing Section */

/* FAQ Section ... */
#faq {

    .content {

        .left-content {
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding: 0 1.2rem;
            margin-top: 1.2rem;

            @media (min-width: 992px) {
                flex: 0 0 auto;
                width: 33.333333333333%;
            }

            .left-texts {
                @media (min-width: 1200px) {
                    padding: 0 3rem;
                }

                h3 {
                    font-weight: 400;
                    font-size: 34px;
                    color: #101f0c;
                    font-family: 'Raleway';
                    margin-bottom: 0.5rem;
                }

                p {
                    line-height: 1.5;
                    font-family: 'Roboto';
                    font-size: 15px;
                    margin-bottom: 1rem;
                    color: color-mix(in srgb, #212529, transparent 30%);
                }
            }
        }

        .right-content {
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding: 0 1.2rem;
            margin-top: 1.2rem;

            @media (min-width: 992px) {
                flex: 0 0 auto;
                width: 66.66666666666667%;
            }

            .faq-bars {



                .faq-item {
                    background-color: #ffffff;
                    position: relative;
                    padding: 20px;
                    margin-bottom: 20px;
                    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
                    overflow: hidden;

                    h3 {
                        font-family: 'Raleway';
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 24px;
                        margin: 0 30px 0 0;
                        transition: 0.3s;
                        cursor: pointer;
                        display: flex;
                        align-items: flex-start;

                        &:hover {
                            color: #71c55d;
                        }

                        .num {
                            color: #71c55d;
                            padding-right: 5px;
                        }

                        img {
                            position: absolute;
                            right: 0;
                            margin-right: 2rem;
                        }

                        &:hover {
                            color: #71c55d;

                            img {
                                filter: invert(72%) sepia(13%) saturate(1478%) hue-rotate(63deg) brightness(97%) contrast(85%);
                            }
                        }
                    }

                    .faq-content {
                        display: grid;
                        grid-template-rows: 0fr;
                        transition: 0.3s ease-in-out;
                        visibility: hidden;
                        opacity: 0;

                        p {
                            margin-bottom: 0;
                            margin-top: 0;
                            overflow: hidden;
                        }
                    }
                }

                .faq-active {
                    h3 {
                        color: #71c55d;

                        img {
                            filter: invert(72%) sepia(13%) saturate(1478%) hue-rotate(63deg) brightness(97%) contrast(85%);
                        }
                    }

                    .faq-content {
                        grid-template-rows: 1fr;
                        visibility: visible;
                        opacity: 1;
                        padding-top: 10px;
                    }

                    .faq-toggle {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
}

/* ... FAQ Section */

/* Contact Section .... */
#contact {
    background-color: #ffffff;


    .contact-side {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding: 0 1.2rem;
        margin-top: 1.2rem;

        @media (min-width: 992px) {
            flex: 0 0 auto;
            width: 33.333333333333333%;
        }

        .info-item {
            display: flex;

            .info-icon {
                background: color-mix(in srgb, #71c55d, transparent 92%);
                font-size: 20px;
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                transition: all 0.3s ease-in-out;
                margin-right: 15px;

                img {
                    filter: invert(72%) sepia(13%) saturate(1478%) hue-rotate(63deg) brightness(97%) contrast(85%);
                }
            }

            h3 {
                font-family: 'Raleway', sans-serif;
                padding: 0;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 5px;
                line-height: 1.2;
            }

            p {
                font-family: 'Roboto';
                padding: 0;
                margin-bottom: 0;
                font-size: 14px;
            }

            &:hover {
                .info-icon {
                    background-color: #71c55d;

                    img {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
    }


    .form-side {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding: 0 1.2rem;
        margin-top: 1.2rem;

        @media (min-width: 992px) {
            flex: 0 0 auto;
            width: 66.6666666666667%;
        }

        .form {
            height: 100%;

            .half-form {
                padding: 0 12px;
                margin-top: 1rem;
                width: 100%;

                @media (min-width: 768px) {
                    flex: 0 0 auto;
                    width: 50%;
                    margin-top: 0;
                }
            }

            .full-form {
                padding: 0 12px;
                margin-top: 1.2rem;
                width: 100%;

                @media (min-width: 768px) {
                    flex: 0 0 auto;
                    width: 100%;
                }
            }

            input {
                font-size: 14px;
                padding: 10px 15px;
                box-shadow: none;
                border-radius: 0;
                color: #212529;
                background-color: color-mix(in srgb, #ffffff, transparent 50%);
                border-color: color-mix(in srgb, #212529, transparent 80%);

                &::placeholder {
                    color: color-mix(in srgb, #212529, transparent 70%);
                }
            }

            textarea {
                font-size: 14px;
                padding: 10px 15px;
                box-shadow: none;
                border-radius: 0;
                color: #212529;
                background-color: color-mix(in srgb, #ffffff, transparent 50%);
                border-color: color-mix(in srgb, #212529, transparent 80%);

                &::placeholder {
                    color: color-mix(in srgb, #212529, transparent 70%);
                }
            }

            button {
                font-family: 'Roboto';
                font-size: 1rem;
                color: #ffffff;
                background: #71c55d;
                border: 0;
                padding: 12px 30px;
                transition: 0.4s;
                border-radius: 50px;

                &:hover {
                    background-color: color-mix(in srgb, #71c55d, transparent 25%);
                }
            }

            .form-control {
                display: block;
                width: 100%;
                font-weight: 400;
                line-height: 1.5;
                border: 1px solid #dee2e6;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

                &:focus {
                    border-color: #71c55d;
                    outline: none;
                }
            }
        }
    }
}

/* ..... Contact Section */

/* Footer .... */
#footer {

    padding-bottom: 2rem;

    .copyright {
        p {
            color: #212529;
            font-size: 14px;
            font-family: 'Roboto';
        }
    }

    .social-links {
        margin-top: 20px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid color-mix(in srgb, #212529, transparent 50%);
            margin: 0 5px;
            transition: 0.3s;

            img {
                filter: brightness(0.15) opacity(0.5);
            }

            &:hover {
                border-color: #71c55d;

                img {
                    filter: invert(71%) sepia(18%) saturate(934%) hue-rotate(63deg) brightness(94%) contrast(88%);
                }
            }
        }
    }

    .credits {
        margin-top: 10px;
        font-size: 13px;
        text-align: center;

        a {
            color: #71c55d;
            text-decoration: none;
            transition: 0.3s;

        }
    }
}

/* ..... Footer */




/* Responsive Tamplate */
@media (min-width: 768px) {}

@media (min-width: 1200px) {}